.manga-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.manga-card img {
  max-width: 100px;
  margin-right: 10px;
}

.manga-card h3 {
  margin: 0;
  font-size: 1.2rem;
}

.manga-card p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}
